In [1]:
import numpy as np 
import pandas as pd

In [6]:
dataset = pd.read_csv("1.01. Simple linear regression.csv")

In [18]:
dataset.columns

Index(['SAT', 'GPA'], dtype='object')

In [19]:
y=dataset['GPA']

In [25]:
x=dataset[[ 'SAT' ]]

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
model=LinearRegression()

In [28]:
model.fit(x,y)

LinearRegression()

In [29]:
model.intercept_

0.2750402996602803

In [38]:
model.predict([[2021]])

array([3.62118585])

In [35]:
dataset

     SAT   GPA
0   1714  2.40
1   1664  2.52
2   1760  2.54
3   1685  2.74
4   1693  2.83
..   ...   ...
79  1936  3.71
80  1810  3.71
81  1987  3.73
82  1962  3.76
83  2050  3.81

[84 rows x 2 columns]