In [1]:
import pandas as pd
import numpy as np

In [2]:
db=pd.read_csv("kohli_test.csv")

In [3]:
db

,Unnamed: 0,Player,Runs,Mins,BF,4s,6s,SR,Inns,Opposition,Ground,year,Venue
0,1,V Kohli,254.0,0.0,336.0,33.0,2.0,75.59,1.0,South Africa,Pune,2019,home
1,2,V Kohli,243.0,447.0,287.0,25.0,0.0,84.66,1.0,Sri Lanka,Delhi,2017,home
2,4,V Kohli,235.0,515.0,340.0,25.0,1.0,69.11,2.0,England,Mumbai,2016,home
3,7,V Kohli,213.0,386.0,267.0,17.0,2.0,79.77,2.0,Sri Lanka,Nagpur,2017,home
4,9,V Kohli,211.0,536.0,366.0,20.0,0.0,57.65,1.0,New Zealand,Indore,2016,home
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,170,V Kohli,0.0,1.0,1.0,0.0,0.0,0.00,3.0,England,Lord's,2014,away
149,177,V Kohli,0.0,3.0,2.0,0.0,0.0,0.00,1.0,England,Manchester,2014,away
150,29,V Kohli,0.0,3.0,1.0,0.0,0.0,0.00,4.0,England,The Oval,2018,away
151,40,V Kohli,0.0,6.0,4.0,0.0,0.0,0.00,3.0,Australia,Melbourne,2018,away
152,43,V Kohli,0.0,3.0,1.0,0.0,0.0,0.00,3.0,West Indies,Kingston,2019,away

In [55]:
Opposition=db['Opposition']

In [56]:
from sklearn.preprocessing  import LabelEncoder , OneHotEncoder

In [57]:
label=LabelEncoder()

In [58]:
opposition_le=label.fit_transform(Opposition)

In [59]:
ohe=OneHotEncoder()

In [60]:
opposition_ohe

<153x7 sparse matrix of type '<class 'numpy.float64'>'
	with 153 stored elements in Compressed Sparse Row format>

In [61]:
opposition_le=opposition_le.reshape(-1,1)

In [62]:
opposition_ohe=ohe.fit_transform(opposition_le)

In [63]:
opposition_ohe.toarrayarra()

In [64]:
opposition_ohe_arr.shape

(153, 7)

In [79]:
ground=db["Ground"]

In [80]:
ground_le=label.fit_transform(ground)

In [89]:
ground_le=ground_le.reshape(-1,1)

In [90]:
ground_ohe=ohe.fit_transform(ground_le)

In [92]:
ground_ohe

<153x43 sparse matrix of type '<class 'numpy.float64'>'
	with 153 stored elements in Compressed Sparse Row format>

In [93]:
ground_ohe_arr=ground_ohe.toarray()

In [95]:
ground_ohe_arr.shape

(153, 43)

In [96]:
k=[12,45,15,95,48,75,]
l=[11,12,45,15,95,48,75,]
m=[12,45,15,18,95,48,75,]
j=(k,l,m)
i,p,q=j

In [129]:
class dummydata :
    
    
    def __init__(self,*features):
        self.features=features
        
        
    def label_encoder(self):
        le=LabelEncoder()
        self.feature_le=[]
        for i in self.features :
            lists=le.fit_transform(i)
            self.feature_le.append(lists)
        return self.feature_le    
            
    def one_hot_encoder(self):
        ohe=OneHotEncoder()
        self.feature_ohe=[]
        self.variables=self.label_encoder()
        for i in self.variables:
            i=i.reshape(-1,1)
            variable_ohe=ohe.fit_transform(i)
            variable_ohe=variable_ohe.toarray()
            #variable_ohe=variable_ohe[:,len(variable_ohe)-1]
            self.feature_ohe.append(variable_ohe)
            
        return self.feature_ohe

In [130]:
variables=dummydata(Opposition,ground,db['Inns'],db['year'],db['Venue'])

In [132]:
onehotencoding=variables.one_hot_encoder()

In [135]:
opposition=onehotencoding[0][:]

In [136]:
ground=onehotencoding[1][:]
inns=onehotencoding[2][:]
year=onehotencoding[3][:]
venue=onehotencoding[4][:]

[12, 45, 15, 95, 48, 75]